.homePage {
  height: calc(100vh - 60px - 80px);
  overflow-y: auto;
  & .destination-container {
    margin: 30px 20px;
    display: flex;
    gap: 40px;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
  }
  & .vehicle-container {
    margin-top: 30px;
    padding: 10px 15px;
    display: flex;
    gap: 100px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  & .proceed-button {
    margin-top: 60px;
    text-align: center;
    z-index: 90;
    margin-bottom: 60px;
  }
  & .totalTime {
    text-align: center;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 800;
    font-size: 20px;
  }
  & .error-wrapper {
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #ff7f50;
    color: white;
    height: 60px;
    width: 320px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
